body::-webkit-scrollbar {
    display: none;
}

/* Headed View */

.font-dancing {
    font-family: "Dancing Script", cursive;
}

/* #hv-content {

} */

#sv-connect-container::-webkit-scrollbar {
    width: 12px; /* width of the entire scrollbar */
    height: 8px; /* height of the entire scrollbar */
}

#sv-connect-container::-webkit-scrollbar-track {
    border-radius: 0.4rem;
    background: #27272a; /* color of the tracking area */
}

#sv-connect-container::-webkit-scrollbar-thumb {
    background-color: #71717a; /* color of the scroll thumb */
    border-radius: 20px; /* roundness of the scroll thumb */

}
