/* Custom */

::-webkit-scrollbar {
    display: none; /* Chrome Safari Hide Scrollbar */
}

/* Custom - Container */
#main {
    width: 94%;
    scrollbar-width: none; /* Firefox Hide Scrollbar */
}

html {
    background-color: #18181b;
}

/* Custom - Title */
#title {
    font-family: Bad Script;
}

#icon_design,
#icon_video,
#icon_writing,
#icon_photography,
#icon_paint,
#icon_guitar {
    font-size: 1.6rem;
}
